@model E_Class.Models.Class_Model.Profesori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Profesori</h4>
    <hr />
    <dl class="dl-horizontal table-responsive table table-bordered">
        <dt>
            @Html.DisplayNameFor(model => model.ProfesoratID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfesoratID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
