@model IEnumerable<E_Class.Models.Class_Model.Lenda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p style="margin-bottom:50px;">
    @Html.ActionLink("Add", "Create", "Lenda", new { @class = "btn btn-primary pull-right" })
</p>
<table class="display" style="margin-top:5px !important;" id="profesorat-table">
    <thead>
        <tr>
            <th>
                LendaID 
            </th>
            <th>
                Emertimi
            </th>
            <th>
                Mbiemri
            </th>
            <th>
                Libri
            </th>
            <th>
                Created On
            </th>
            <th>
                Last Update
            </th>

        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LendaID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emertimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Libri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LendaID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.LendaID }, new { @class = "btn btn-info" })

                        @Html.ActionLink("Delete", "Delete", new { id = item.LendaID }, new { @class = "btn btn-danger" })

                    </td>
                </tr>
            }
        }
    </tbody>

</table>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#profesorat-table").DataTable({
                "dom": '<"pull-left"f><"pull-right"l>tip'
            });
        });
    </script>
}